* {margin: 0px}
body {
  background-color: #57dd9e;
  padding: 35px;
}

div.container {
  width: 85%;
  margin: auto;
  border-color: #029372;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  padding: 20px 20px 0 20px;
  /* add position relative */
  position: relative;
}

footer {
  background-color: #e7325b;
  color: #fdc6d6;
  padding: 7px 20px;
  margin: 10px -20px 0 -20px
}

h1 {
  position: relative;
  top: 5px;
  left: 25px;
}

img {
  position: absolute;
  bottom: -45px;
  right: -25px;
}

.fab {
  color: rgba(0, 0, 255, .5);
  font-size: 2em;
  padding-right: 5px;
  padding-right: 5px;
}

.socialmedia {
  position: fixed;
  top: 0px;
  right: 10px;
}

/* under here is navigation */
a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #e7325b;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  width: 25%;
}
nav {background-color: #029372; padding: 20px}

ul{text-align: center; font-family: ariel}
